body
{
  background-image: url("ciel.jpg");
  background-size: 105%;
  position: absolute;
}
.texte
{
  color: rgb(241, 196, 15);
  border: dotted;
  background-color: rgba(0, 0, 0, 0.3);

}
.titre
{
  color: rgb( 255, 0, 0, 1);
  text-align: center;
}
.salutations
{
  text-align:center;
}
a
{
  text-decoration: none;
  color: rgba( 255, 160, 0 , 1);
}
a:hover
{
  text-decoration: underline;
  font-style: italic;
  font-size: 30px;

}
